<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hamsitech.webherd.lo0-alias</string>
  <key>AssociatedBundleIdentifiers</key><array><string>com.hamsitech.webherd</string></array>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/webherd.app/Contents/MacOS/webherd-lo0-alias</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
